npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.vscode
yarn.lock
jest.config.js
commitlint.config.js
.eslintrc.json
node_modules
Jenkinsfile
package-lock.json
src
__tests__
.editorconfig
.eslintrc.js
.eslintignore
.prettierrc
nodemon.json
PATTERN.md
README.md
